* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 36px;
    font-weight: bold;
    color: rgb(44, 77, 54);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(250, 245, 239);
}

div {
    text-align: center;
    /* border: solid 1px black; */
}

#header {
    display: flex;
    justify-content: flex-end;
}

#editButton {
    margin: 8px;
    width: 100px;
}

#updateSalesBox {
    background-color: rgb(250, 245, 239);
    padding: 24px;
}

#updateSalesBox > p {
    font-size: 24px;
}

#updateSalesBox > div > p {
    font-size: 24px;
}
#updateSalesBox > div {
    padding: 16px 0;
}

#updateSalesBox > div > input {
    padding: 8px;
    font-size: 24px;
}

#mainTitle {
    font-size: 96px;
}

#numberBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

#numberBox > * {
    color: rgb(182, 73, 58);
}

#buttonBox {
    display: flex;
    justify-content: center;
    gap: 32px;
}

button {
    font-size: 24px;
    padding: 16px;
    width: 250px;
    /* border-radius: 8px; */
}

.modalButton {
    width: 150px;
    font-size: 24x;
}

#updateSalesBox {
    margin: 16px;
    margin-left: auto;
}