* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", serif;
    font-size: 36px;
    font-weight: bold;
    color: green;
}

body {
    background-color: rgba(201, 168, 128, 0.479);
    max-height: 100vh;
}

#mainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titleBox {
    display: flex;
    flex-direction: column;
}

div {
    text-align: center;
    /* border: solid 1px black; */
}

#editButton {
    margin: 8px;
    width: 100px;
}

#updateSalesBox {

    padding: 24px;
}

#updateSalesBox > p {
    font-size: 24px;
}

#updateSalesBox > div > p {
    font-size: 24px;
}
#updateSalesBox > div {
    padding: 16px 0;
}

#updateSalesBox > div > input {
    padding: 8px;
    font-size: 24px;
}

#subTitle {
    font-family: "Poiret One", serif;
    color: rgb(218, 200, 101);  
    font-size: 48px;
    margin-top: 120px;
}

#mainTitle {
    font-size: 150px;
    height: 150px;
    margin-bottom: 30px;
}

#numberBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;
}

#totalTitle {
    font-family: "Poiret One", serif;
    color: rgb(218, 200, 101);
    font-size: 48px;
    margin-bottom: 16px;
}

#currency {
    font-family: "Poiret One", serif;
    color: rgb(218, 101, 189);
    font-size: 102px;
}

#totalTracker {
    font-family: "Poiret One", serif;
    color: rgb(218, 101, 189);
    font-size: 102px;
}

#buttonBox {
    display: flex;
    justify-content: center;
    gap: 32px;
}

button {
    font-size: 24px;
    padding: 16px;
    width: 250px;
    font-family: "Poiret One", serif;
    color: rgb(218, 200, 101);
    background-color: green;
    border: none;
    /* border-radius: 8px; */
}

.caption {
    color: rgb(218, 200, 101);
    font-family: "Poiret One", serif;
    font-size: 32px;
    margin-bottom: 8px;
}

#cocktailTracker, #ticketTracker {
    font-family: "Poiret One", serif;
    color: rgb(218, 200, 101);
    background-color: green;
    border: none;
}

.modalButton {
    width: 150px;
    font-size: 24x;
}

#updateSalesBox {
    margin: 16px;
    margin-left: auto;
}

.logo {
    width: 120px;
}

#dara {
    height: 150px;
    width: 150px;
}

.capizColumn {
    height: 100vh;
}

.capizPhoto {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
}

#footer {
    display: flex;
    flex-direction: row;
}

#editBox {
    width: 100px;
    display: flex;
    margin: auto 0;
}

#editButton {
    background-color: rgba(201, 168, 128, 0.479);
    color: grey;
}

#photoBox {
    flex: auto;
}